<main class="container pt-5">
    <h1> Todos</h1>
    <%= render "form", todo: @todo%>
    <ul class="list-group list-group-flush mt-4 w-100">
    <% @todos.each do |todo| %>
        <%= render "todo-item", todo: todo%>
    <% end %>
    </ul>
</main>